In [2]:
i =0
while (i < 10):               # While loop
    i =i + 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
i =0
while (i <6):               # While loop
    print("Mohsin" , i)
    i = i + 1

Mohsin 0
Mohsin 1
Mohsin 2
Mohsin 3
Mohsin 4
Mohsin 5

In [ ]:
while i <10:               # While loop
    print(i)

In [1]:
a = [2, 5, 8, 4, 9, 24]               # While loop
i = 0
while i<len(a):
    print(a[i])
    i = i +1

2
5
8
4
9
24

In [2]:
i = ["Harry", "Mohsin", "Raza", "Ali", "Ahmad"]               # For loop
for item in i:
    print(item)

Harry
Mohsin
Raza
Ali
Ahmad

In [3]:
l = [1, 3, 4, 6, 7, 9]               # For loop
for item in l:
    print(item)

1
3
4
6
7
9

In [5]:
for i in range(2,20):               # Range function
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
for i in range(10):               # Range function
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
a = ["Mohsin", "RAZA", "ALI", "HAMZA", "SHAN", "HAMID"]                #  'For' loop with 'else'
for item in a:
   print(item) 
else:
    print("__Done__")

Mohsin
RAZA
ALI
HAMZA
SHAN
HAMID
__Done__

In [9]:
a = [18, 34, 45, 55, 67,89]               #  'For' loop with 'else'
for item in a:
   print(item) 
else:
    print("__Done__")

18
34
45
55
67
89
__Done__

In [12]:
for i in range(0,56):               #Break statement
    print(i)
    if i == 11:
        break

0
1
2
3
4
5
6
7
8
9
10
11

In [15]:
for i in range(1, 45):               #Break statement
    print(i)
    if i > 23:
        break
        
for i in range(1, 45):
    print(i)
    if i < 23:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
1

In [16]:
for i in range(10):               #Continue statement, skip value
    print("Mohsin")
    if i == 4:
        continue
    print(i)

Mohsin
0
Mohsin
1
Mohsin
2
Mohsin
3
Mohsin
Mohsin
5
Mohsin
6
Mohsin
7
Mohsin
8
Mohsin
9

In [19]:
l = [1, 4, 8]                #Pass statement
for items in l:
    pass

In [4]:
#PRSCTIC SET
num = int(input("Enter your number: "))
for i in range(1,11):
    print(str(num) +  "X"  + str(i) +  "="  +  str(i*num) )       #Metod 01
#    i = i +1
    
num = int(input("Enter your number: "))         #Method 02
for i in range(1,11):
    print(f"{num} X {i} = {num*i}" )
#    i = i +1

Enter your number: 3
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
3X10=30
Enter your number: 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [9]:
#PR 02
l = ["Mohsin", "Raza", "Ali", "Ahmed", "Abdullah"]
for name in l:
    if name.startswith("A"):
        print("Hello " +  name)

Hello Ali
Hello Ahmed
Hello Abdullah

In [ ]:
#PR 03

In [13]:
#PR 04
num = int(input("Enter your number: "))
prime = True
for i in range(2, num):
    if(num%i == 0):
        prime = False
        break
if prime:
    print("This number is not a prime.")
else:
    print("This number is not a prime.")

Enter your number: 34
This number is not a prime.

In [ ]:
#PR 05

In [16]:
#PR 06
# n! = 1 X 2 X 3 X 4.......X n 
num = int(input("Enter your number: "))
factorial = 1
for i in range(1, num+1):
    factorial = factorial * i
print(f"The factorial of {num} is {factorial}")

num = int(input("Enter your number: "))
factorial = 1
for i in range(1, num+1):
    factorial = factorial * i
print(f"The factorial of {num} is {factorial}")

Enter your number: 5
The factorial of 5 is 120
Enter your number: 2
The factorial of 2 is 2

In [18]:
#PR 07
n =3
for i in range(3):
    print(" " * (n - i - 1), end="")
    print("*" * (2 * i + 1), end="")
    print(" " * (n - i - 1))

  *
 ***
*****

In [17]:
#PR 08
n = 4
for i in range(4):
    print("*"*i)

*
**
***

In [ ]:
#PR 09