In [1]:
friends = [12, 45, "Haary", 78.5, "List"]
print(friends)

[12, 45, 'Haary', 78.5, 'List']

In [2]:
friends = [23, 14, "Harry", 12.4, 78, "Raza"]
print(friends[0])

23

In [3]:
friends = [23, 14, "Harry", 12.4, 78, "Raza"]
print(friends[2])

Harry

In [6]:
friends = [23, 14, "Harry", 12.4, 78, "Raza"]
print(friends[5])

Raza

In [7]:
friends = [23, 14, "Harry", 12.4, 78, "Raza"]
print(friends[0:4])

[23, 14, 'Harry', 12.4]

In [8]:
friends = [23, 14, "Harry", 12.4, 78, "Raza"]
print(friends[-2:-1])

[78]

In [9]:
friends = [23, 14, "Harry", 12.4, 78, "Raza"]
print(friends[-5:-1])

[14, 'Harry', 12.4, 78]

In [12]:
friends = [23, 14, "Harry", 12.4, 78, "Raza"]
friends[2] = "Mohsin" 
print(friends)

[23, 14, 'Mohsin', 12.4, 78, 'Raza']

In [13]:
friends = [23, 14, "Harry", 12.4, 78, "Raza"]
friends[4] = 25 
print(friends)

[23, 14, 'Harry', 12.4, 25, 'Raza']

In [16]:
#List Methods
#sort the list (1, 2, 3,.......)
l1 = [1, 3, 78, 4, 7, 50, 99, 32, 78]
l1.sort()
print(l1)

[1, 3, 4, 7, 32, 50, 78, 78, 99]

In [23]:
#Reverse the list 
l1 = [1, 3, 78, 4, 7, 50, 99, 32, 78]
l1.sort()
print(l1)
#l1 = [1, 3, 78, 4, 7, 50, 99, 32, 78]

l1.reverse()
print(l1)

[1, 3, 4, 7, 32, 50, 78, 78, 99]
[99, 78, 78, 50, 32, 7, 4, 3, 1]

In [25]:
#Add the tem at theend of the list
l1 = [1, 3, 78, 4, 7, 50, 99, 32, 78]
l1.append(145)
l1.append(200)
print(l1)

[1, 3, 78, 4, 7, 50, 99, 32, 78, 145, 200]

In [26]:
#Add the item at index '4' to "Raza"
l1 = [1, 3, 78, 4, 7, 50, 99, 32, 78]
l1.insert(4, "raza")
print(l1)

[1, 3, 78, 4, 'raza', 7, 50, 99, 32, 78]

In [28]:
#Delete the item index '6'
l1 = [1, 3, 78, 4, 7, 50, 99, 32, 78]
l1.pop(6)
print(l1)

[1, 3, 78, 4, 7, 50, 32, 78]

In [29]:
#Rmove the item in the list
l1 = [1, 3, 78, 4, 7, 50, 99, 32, 78]
l1.remove(99)
print(l1)

[1, 3, 78, 4, 7, 50, 32, 78]

In [30]:
#TUPPLE 
a = (1, 3, 5, 7, 9, 23, 56, 78)
print(a)

(1, 3, 5, 7, 9, 23, 56, 78)

In [31]:
#Empty tupple
a = ()
print(a)

()

In [33]:

a = (1)
print(a)

1

In [34]:
#Tuple with only one element needs a com
a = (1,)
print(a)

(1,)

In [36]:
#Tuple Methods
#Count the item '4' from the tuple
t = (1, 4, 7, 9, 4)
print(t.count(4))

2

In [39]:
t = (1, 4, 7, 9, 4)
print(t.index(1))

0

In [3]:
#PRACTICE SET
f = ["mango", "banana", "apple", "lemon", "onion", "watermalon", ]
print(f)

['mango', 'banana', 'apple', 'lemon', 'onion', 'watermalon']

In [4]:
f1 = input("Enter the fruit name1: ")
f2 = input("Enter the fruit name2: ")
f3 = input("Enter the fruit name3: ")
f4 = input("Enter the fruit name4: ")
f5 = input("Enter the fruit name5: ")
f = [f1, f2, f3, f4, f5]
print(f)

Enter the fruit name1: Mango
Enter the fruit name2: Apple
Enter the fruit name3: Banana
Enter the fruit name4: Orange
Enter the fruit name5: Lemon
['Mango', 'Apple', 'Banana', 'Orange', 'Lemon']

In [6]:
m1 = int(input("Enter your marks: "))
m2 = int(input("Enter your marks: "))
m3 = int(input("Enter your marks: "))
m4 = int(input("Enter your marks: "))
m5 = int(input("Enter your marks: "))
m = [m1, m2, m3, m4, m5]
print(m)

Enter your marks: 235
Enter your marks: 356
Enter your marks: 145
Enter your marks: 403
Enter your marks: 450
[235, 356, 145, 403, 450]

In [9]:
#TypeError: 'tuple' object does not support item assignment
t = (1, 3, 5, 7)
t[3] = 9
print(t)

TypeError: 'tuple' object does not support item assignment

In [12]:
l = [21, 34, 78, 90]

print(sum(l))

223

In [13]:
l = [21, 34, 78, 90]
print(l[0]+l[1]+l[2]+l[3])

223

In [14]:
a = (7, 0, 8, 0, 0, 9)
print(a.count(0))

3